.container {
  padding-top: 40px;
  color: white;
}

.usuario {
  border-radius: 20px;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;

  background-color: #657786;
  color: white;
  .profilePic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 200px;
    display: block;
    margin: 0 auto;
  }
  .seunio {
    float: right;
  }
}

@media (max-width: 600px) {
  .usuario {
    border-radius: 20px;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;

    background-color: #657786;
    color: white;
    .profilePic {
      max-width: 100px;
      max-height: 100px;
      border-radius: 200px;
    }
    .seunio {
      float: right;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
